*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    width: 900px;
    margin: auto;
    background: #3f33e1;
}

#menu{
    width: 900px;
    height: 60px;
    background-color:#00FFCC;
}

.logomarca{
    width: 150px;
    height: 50px;
    background: #ffffff;
    margin: 10px;
}

.menu{
    width: 150px;
    height: 50px;
    background: #a27e7e;
    margin: 10px;    
}

#banner{
    width: 900px;
    height: 500px;
    background-color: #CC0066;
}



#container-dois{
    width: 900px;
    height: 560px;
    background-color: #e1338a;
}
#container-tres{
    width: 900px;
    height: 560px;
    background-color: #3c907793;
}
#container-quatro{
    width: 900px;
    height: 560px;
    background-color: #3f33e1;
}