*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    width: 900px;
    margin: auto;
    background: #ffffff;
}

#menu{
    display: flex;
}

.menu{
    width: 900px;
    height: 47px;
    height: 50px;
      margin: 10px;   
}

.menu ul {
    width: 700px;
    height: 47px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00aca9;
  }

.menu ul li{
    float:left;
}

.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .menu ul li a:hover{
    background-color: #ffffff;
    color:#00aca9;
  }

.logomarca{
    width: 150px;
    height: 50px;
    background: #afeb8c;
    margin: 10px;
}

.logomarca img{
    width: 120px;
    height: 52px;
}

#banner{
    width: 900px;
    height: 500px;
    background-color: #CC0066;
}

#banner img{
    width: 900px;

}

#container-dois{
    width: 900px;
    height: 560px;
    background-color: #e1338a;
}
#container-tres{
    width: 900px;
    height: 560px;
    background-color: #3c907793;
}
#container-quatro{
    width: 900px;
    height: 560px;
    background-color: #3f33e1;
}